@page
@model IndexModel
@{
    ViewData["Title"] = "Book";
}

<div class="text-center">
    <h1 cl ass="display-4">AAESH Shop</h1>
    <p>

        Library_Management__System
    </p>
</div>
<div class="row">
    @foreach (var book in Model.Books)
    {
        <div id="bcontainer" class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <img id="bimage" src="@book.image" alt="@book.name" />
            <span id="btitle">@book.name</span>
            <span id="bprice">Rs. Coming Soon</span>
            <span id=" bquantity"><input type="number" name="quantity" value="" placeholder="0" style=" display: inline; width: 45%;" /></span>
            <span id="cartbutton"><button style=" display: inline; width: 45%; text-align:center">Add Cart</button></span>
        </div>
    }
</div>